<!doctype html>

<html lang="en">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- PAGE TITLE -->
        <title>彭立（Yaque）</title>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="../static/assets/img/favicon.png">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface%7CArapey&amp;subset=latin-ext" rel="stylesheet">
        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css">
    </head>
   
    <body>
        <!-- PRELOADER -->
        <div class="preloader">
            <div class="spinner"></div>
        </div>
        <!-- /PRELOADER -->
        
        <!-- IMAGE CONTAINER -->
        <div class="image-container">
            <div class="background-img"></div>
        </div>
        <!-- /IMAGE CONTAINER -->

        <!-- CONTENT AREA -->
        <div class="content-area">
            <!-- CONTENT AREA INNER --> 
            <div class="content-area-inner">
                <!-- INTRO -->
                <section id="intro">
                    <!-- CONTAINER MID -->
                    <div class="container-mid">
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-down" data-animation-delay="0">
                            <h1>欢迎您的访问</h1>
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-left" data-animation-delay="300">
                            <p class="subline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这里是彭立的HomeShow主页，您可以在这里看到我的部分个人信息，我写过的一些博客，我的爱好以及与我相关的网站。</p>
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-up" data-animation-delay="600">
                            <a href="#about" class="smooth-scroll">更多内容<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                    </div>
                    <!-- /CONTAINER MID -->
                </section>
                <!-- /INTRO -->
                <!-- ABOUT -->
                <section id="about">
                    <h3 class="headline scroll-animated-from-right">我的简要介绍</h3>
                    <p class="scroll-animated-from-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你好，我叫彭立。现在是一个普通的本科生，学的是软件工程专业，平时偶尔帮同学修修电脑，空闲时写写自己的代码，折腾折腾硬件，看看新知识。</p>
                    <p class="scroll-animated-from-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我希望可以写出一个好的个人数据助手，完善个人数据安全，简化生活上的各种问题，我喜欢观察生活，在生活中寻找可以用电脑改善的地方。</p>
                    <p class="scroll-animated-from-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于我的未来，我希望有一个稳定的生活。</p>
                    <p class="scroll-animated-from-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于行业的未来，我相信在未来，个人数据安全将被彻底的提高到前所未有的高度，将来人们的数据
                                                            将不会再交给某个企业，某个政府，而应该形成一个个人的数据中心，无论什么样的应用，服务端必将是我们个人自己的数据中心，服务提供者应当使用
                                                            我们的数据中心接口。也许以后的人死亡之后真的就会留下一个盒子吧，里面是他这一生的数据。哈哈。人工智能时代是大趋势。</p>
                    <p class="scroll-animated-from-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本页面由来，在这些校园生活中，大大小小的项目，可能有百多个了，但是都是一些没什么实际效用的东西，因此也希望毕业之前能写出一个稍微可以用用的东西，所以
                                                            这个网页，作为毕业设计的一部分，出现了。</p>


                </section>
                <!-- /ABOUT -->
                <!-- SERVICE -->
                <section id="service">
                    <h3 class="headline scroll-animated-from-right">如果您聘用我，我能为您做什么？</h3>
                    <!-- SERVICE LIST -->
                    <ul class="services-list">
                        <li class="scroll-animated-from-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Python类程序开发</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-eye" aria-hidden="true"></i>机器视觉类程序开发</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-database" aria-hidden="true"></i>Android应用开发</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-television" aria-hidden="true"></i>Java类开发</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-square-o" aria-hidden="true"></i>语言基础类的教育培训</li>
                    </ul>
                    <!-- /SERVICE LIST -->
                </section>
                <!-- /SERVICE -->
                <!-- WORK -->
                <section id="work">
                    <h3 class="headline scroll-animated-from-right">我最近的工作</h3>
                    <!-- SHOWCASE -->
                    <div class="showcase">
                        <!-- ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-1-lightbox">
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <h5>Desktop Dock</h5>
                                        <p>PC App</p>
                                    </div>
                                    <!-- /CONTAINER MID -->
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../static/assets/img/work/item-1.jpg)"></div>
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            <!-- LIGHTBOX -->
                            <div id="item-1-lightbox" class="work-lightbox">
                                <img class="img-responsive" src="../static/assets/img/work/item-1.jpg" alt="image">
                                <h3>Desktop Dock</h3>
                                <p class="subline">PC App</p>
                                <p>该工作源于毕业设计的一部分，该部分的工作中心在于使用PYQT5框架实现一个dock类的PC桌面工具，用以支持核心设计的个人数据交互。</p>
                            </div>
                            <!-- /LIGHTBOX -->
                        </div>
                        <!-- /ITEM -->
                        <!-- ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-2-lightbox">
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <h5>EasyLauncher</h5>
                                        <p>Android App</p>
                                    </div>
                                    <!-- /CONTAINER MID -->
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../static/assets/img/work/item-2.jpg)"></div>
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            <!-- LIGHTBOX -->
                            <div id="item-2-lightbox" class="work-lightbox">
                                <img class="img-responsive" src="../static/assets/img/work/item-2.jpg" alt="image">
                                <h3>EasyLauncher</h3>
                                <p class="subline">Android App</p>
                                <p>该项目同样也是毕业设计的一部分，旨在安卓平台构建一个用于数据交互的客户端，以此为核心设计提供支持，该项目所实现的软件具有普通同类软件的功能与个人数据交互功能。</p>
                            </div>
                            <!-- /LIGHTBOX -->
                        </div>
                        <!-- /ITEM -->
                        <!-- ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-3-lightbox">
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <h5>Smart Voice</h5>
                                        <p>HandWare Device</p>
                                    </div>
                                    <!-- /CONTAINER MID -->
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../static/assets/img/work/item-3.jpg)"></div>
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            <!-- LIGHTBOX -->
                            <div id="item-3-lightbox" class="work-lightbox">
                                <img class="img-responsive" src="../static/assets/img/work/item-3.jpg" alt="image">
                                <h3>Smart Voice</h3>
                                <p class="subline">HandWare Device</p>
                                <p>该项目同样是毕业设计的一部分，该部分将利用树莓派或是其它Linux平台，基于python与百度语音技术自主开发出用于设备控制的智能音箱。用于个人数据交互。</p>
                            </div>
                            <!-- /LIGHTBOX -->
                        </div>
                        <!-- /ITEM -->
                        <!-- ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-4-lightbox">
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <h5>Service Center</h5>
                                        <p>Service SoftWare</p>
                                    </div>
                                    <!-- /CONTAINER MID -->
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../static/assets/img/work/item-4.jpg)"></div>
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            <!-- LIGHTBOX -->
                            <div id="item-4-lightbox" class="work-lightbox">
                                <img class="img-responsive" src="../static/assets/img/work/item-4.jpg" alt="image">
                                <h3>Service Center</h3>
                                <p class="subline">Service SoftWare</p>
                                <p>该部分为整个毕业设计的核心控制中心，主要负责数据通信调度，前者在同一平台。</p>
                            </div>
                            <!-- /LIGHTBOX -->
                        </div>
                        <!-- /ITEM -->
                    </div>
                    <!-- /SHOWCASE -->
                </section>
                <!-- /WORK -->
                <!-- CONTACT -->
                <section id="contact">
                    <h3 class="headline scroll-animated-from-right">联系我</h3>
                    <!-- CONTACT LIST -->
                    <ul class="contact-list">
                        <li class="scroll-animated-from-right"><i class="fa fa-mobile" aria-hidden="true"></i>18229843413</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-envelope-o" aria-hidden="true"></i>yaquepeng@gmail.com</li>
                        <li class="scroll-animated-from-right"><i class="fa fa-envelope-o" aria-hidden="true"></i>yaquepeng@outlook.com</li>
                    </ul>
                    <!-- /CONTACT LIST -->
                    <!-- CONTACT FORM --> 
                    <form id="contact-form" action="/contact_me/" method="post">
                        <input id="contact-form-name" type="text" name="name" class="form-control scroll-animated-from-right" placeholder="* 你的名字或来处，这很重要">
                        <input id="contact-form-email" type="text" name="email" class="form-control scroll-animated-from-right" placeholder="* 你的邮箱或电话">
                        <!-- PHANTOM ELEMENT ( HONEYPOT CAPTCHA FOR SECURITY ) -->
                        <div class="fhp-input"><input id="contact-form-company" type="text" name="company" class="form-control"></div>
                        <!-- /PHANTOM ELEMENT ( HONEYPOT CAPTCHA FOR SECURITY ) -->
                        <textarea id="contact-form-message" name="message" class="form-control scroll-animated-from-right" placeholder="* 你想说的话"></textarea>
                        <button type="submit" class="form-control scroll-animated-from-right">信息提交</button>
                        <div class="success-message">* The Email was Sent Successfully!</div>
                    </form>
                    <!-- /CONTACT FORM -->
                </section>
                <!-- /CONTACT -->
                <!-- FOOTER -->
                <section id="footer">
                    <!-- SOCIAL ICONS -->
                    <ul class="social-icons scroll-animated-from-right">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/yaque"><i class="fa fa-github" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <!-- /SOCIAL ICONS -->
                    <p class="scroll-animated-from-right">本页声明</p>
                    <p class="scroll-animated-from-right">模板来源：<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    <p class="scroll-animated-from-right">本人以作修改</p>

{#                    <p class="scroll-animated-from-right"><a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>#}
                </section>
                <!-- /FOOTER -->
            </div>
            <!-- /CONTENT AREA INNER -->
        </div>
        <!-- /CONTENT AREA -->
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="../static/assets/js/plugins.js"></script>
        <script type="text/javascript" src="../static/assets/js/main.js"></script>
    </body> 

</html>